@import "../assets/_colors.scss";

.main {
  margin: 3rem auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  min-width: 32.5rem;
  max-width: 36rem;
  background-color: $bg;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.me_container {
  width: 20rem;
  margin: auto;
}

.me {
  height: 300px;
  width: 300px;
  border: 0.1rem solid $border;
  border-radius: 10rem;
}

.blurb {
  width: 60%;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1rem auto;
}

.love {
  text-align: center;
}
